@media screen and (min-width: 500px) and (min-height: 790px) {
    *{
        padding: 0;
        outline: none;
        text-decoration: none;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }

    body{
        background-color: #f5f5f5;
        background-size: cover;
    }

    p{
        color: darkblue;
        font-size: 20px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        text-align: center;
    }

    nav{
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        width: 100px;
        overflow: hidden;
        transition: width 0.2s linear;
        box-shadow: 0 0 10px #ccc;
    }

    .left-nav li a {
        color: #000;
        display: inline-block;
        vertical-align: middle;
      }
      
      .left-nav li a span {
        vertical-align: middle;
      }

    .left-nav a:hover {
        color: darkblue;
    }

    nav a{
        position: relative;
        font-size: 14px;
        display: table;
        width: 300px;
        padding: 10px;
    }

    .transi {
        position: relative;
        width: 70px;
        height: 40px;
        top: 14px;
        font-size: 20px;
        text-align: center;
    }

    nav:hover{
        width: 200px;
    }   

    li.actual a{
        color: red;   
    }

    .bottom-nav{
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        overflow: hidden;
        transition: height 0.2s linear;
        box-shadow: 0 0 10px #ccc;
        color: #000;
    }
    
    .bottom-nav li {
        text-align: center;
    }

    .bottom-nav select{
        width: 90px;
    }

    /*NAV mobile*/
    .header-mobile {
        display: none;
    }
    
    /*Partie cookies */
    .cookies_container{
        background-color: #72727285;
        position: fixed;
        top: 0;
        left: 0;
        height: 100vh;
        width: 100vw;
        opacity: 1;
        z-index: 1000;
    }

    .cookies_container.close{
        opacity: 0;
        pointer-events: none;
        transition: opacity 0.2s ease;
    }

    .cookies{
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 170px;
        background-color: #f5f5f5;
        box-shadow: 0 0 10px #ccc;
    }

    .cookies h1 {
        margin-top: 2%;
    }

    .cookies p {
        font-size: 15px;
        color: darkblue;
    }
    
    .decision-button {
        width: 30%;
        margin: 0 auto;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    .decision-button button {
        width: 150px;
        height: 30px;
        border-radius: 5px;
        border: none;
        outline: none;
        background-color: darkblue;
        color: #fff;
        font-size: 15px;
        cursor: pointer;
    }

    .decision-button button:hover {
        background-color: #000;
        height: 31px;
    }

    .decision-button button:active {
        background-color: #000;
        height: 31px;
    }

    /*Partie Popup puis MAIN*/

    .langage_Popup_container {
       background-color: #72727285;
       position: fixed;
       top: 0;
       left: 0;
       height: 100vh;
       width: 100vw;
       opacity: 1;
       transition: opacity 0.2s ease;
    }

    /*Permet  de cacher le popup avec l'opacité à 0*/
    .langage_Popup_container.close{
        opacity: 0;
        pointer-events: none;
    }

    /*Permet  de montrer le popup avec l'opacité à 1*/
    .langage_Popup_container.show{
        opacity: 1;
        pointer-events: all;
    }

    .popup {
        text-align: center;
        background-color: #fff;
        box-shadow: 0 0 10px #ccc;
        width: 40%;
        margin: 0 auto;
        margin-top: 20%; 
        border-radius: 10px;
    }

    .popup p {
        font-size: 17px;
    }

    .popup input{
        margin-bottom: 1%;
    }

    .lang_choix{
        margin-bottom: 3%;
    }

    .lang_choix select {
        width: 50%;
    }

    .errorLang {
        color: red;
        font-size: 0.8rem;
      } 

     main h1{
        text-align: center;
        font-size: 30px;
    }
    
    #body-content {
        display: none;
    }

    main h1:hover{
        color: darkblue;
        text-shadow: 0 0 10px #2f2f2f;
    }

    main #h3{
        text-align: center;
        color: darkblue;
        font-size: 11px;
        margin-top: -0.8%;
        font-style: italic;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
    }

    main #h3:hover{
        color: darkblue;
        text-shadow: 0 0 10px #2f2f2f;
    }

    #logoChatLawBOT {
        width: 77px;
        height: 77px;
        margin-left: 12px;
    }
    
    /*Partie chatbot*/
    article{
        display: flex;
        flex-direction: row;
        width: 100%;
        overflow: hidden;   
    }

    .chatbot-section{
        margin: 0 auto;
        margin-top: 1%;
        padding: 30px 20px 70px;
        width: 50vw;
        height: 70vh;
        background-color: #f5f5f5;
        border-radius: 10px;
        box-shadow: 0 0 10px #ccc;
    } 

    .chatbot-section .chatbot-reponse{
        height: 70%;
        overflow-y: auto;
        padding: 30px 20px 75px;
    }
    .chatbot-section .chat{
        display: flex;
    }

    .chatbot-section .chat p{
        color: #000;
        padding: 12px 16px;
        font-size : 0.95em;
        background-color: lightslategray;
        border-radius: 10px 10px 10px 0;
        white-space: pre-wrap;
    }

    .chatbot-section .reponse-BOT span{
        height: 30px;
        text-align: center;
        background-color: lightslategray;
        line-height: 32px;
        align-self: flex-end;
        border-radius: 4px;
        margin: 0 10px 7px 0;
    }

    li.chat.reponse-BOT.error p{
        background-color: lightcoral;
    }

    li.chat.reponse-BOT.error span{
        background-color: lightcoral;
    }
    .chatbot-section .reponse-User p {
        margin: 20px 0;
        justify-content: flex-end;
        background-color: darkblue;
        color: #fff;
        padding: 12px 16px;
        font-size : 0.95em;
        border-radius: 10px 10px 0 10px;

    }
    .chatbot-section .reponse-User {
        margin: 20px 0;
        justify-content: flex-end;
    }

    .user-question{
        margin: 0 auto;
        margin-top: 2%;
        display: flex;
        flex-direction: row;
        margin-left: auto;
        margin-right: auto;
        width: 35vw;
        background-color: #f5f5f5;
        box-shadow: 0 0 10px #ccc;
        overflow: hidden;   
    }

    /*Partie button*/
    .user-question textarea{
        margin-top: 1%;
        margin-bottom: 1%;
        margin-left: 1%;
        width: 90%;
        height: 30px;
        border-radius: 10px;
        border: none;
        outline: none;
        font-size: 15px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        padding-left: 10px;
        word-wrap: break-word;
        resize: none;
    }

    .user-question textarea:is(:focus, :valid){
        border-width: 2px;
        border-color: darkblue;
    }

    .user-question button[type="submit"]{
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        margin-left: 3%;
        height: 40px;
        width: 70px;    
        display: flex;
        border-color: #fff;
    }

    .chatbot-section .reponse-User p {
        margin: 20px 0;
        justify-content: flex-end;
        background-color: darkblue;
        color: #fff;
        padding: 12px 16px;
        font-size : 0.95em;
        border-radius: 10px 10px 0 10px;

    }

    .chatbot-section .reponse-User {
        margin: 20px 0;
        justify-content: flex-end;
    }
        
    textarea{
        margin: 0 auto;
        margin-top: 10%;
        display: flex;
        height: 100px;
        width: 250px;
        resize: none;
    }

     /*Popup consultante*/
     .consultante-popup{
        position: absolute;
        top: 60%;
        left: 84%;
    }

    .img-consultante {
        margin-top: 15%;
        width: 70px;
        height: 70px;
        border-radius: 35px;
        border: 1.5px solid black;
        background-color: lightgray;
        text-align: center;
    }

    .img-consultante:hover {
        border: 2px solid darkblue;
        cursor: pointer;
        border-radius: 35.5px;
    } 

    .img-consultante img {
        width: 60px;
        margin-top: 2px;
    }

    .texte_popup {
        position: relative;
        background: #ffffff;
        color: #000000;
        width: 90px;
        height: 80px;
        border-radius: 5%;
        border: #000000 solid 1px;
    }

    .texte_popup:after {
        content: "";
        position: absolute;
        display: block;
        width: 0;
        z-index: 1;
        border-style: solid;
        border-color: #ffffff transparent;
        border-width: 20px 8px 0;
        bottom: -20px;
        left: 70%;
        margin-left: -8px;
    }

    .texte_popup:before {
        content: "";
        position: absolute;
        width: 0;
        z-index: 0;
        border-style: solid;
        border-color: #000000 transparent;
        border-width: 21px 9px 0;
        bottom: -21.5px;
        left: 70%;
        margin-left: -9px;
        display: block;
    }

    .texte_popup .information_proposition {
        font-size: 12px;
        color: black;
        text-align: center;
    }


    /*FOOTER*/
    footer{
        height: 9px;
        width: 100%;
        bottom: 0;
        left: 0;
        position: absolute; 
        bottom: 0; 
        right: 0;
        margin: 0 auto;
        padding-top: 10px;
        font-size: 15px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }

    .footer-content{
        margin: 0 auto;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }
    
    .about p{
        color: darkblue;
        font-size: 20px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        text-align: center;
    }

    .links h2{
        margin-left: 30px;
    }

    .links li:hover{
        color: darkblue;
        border-radius: 5px;
    }

    .links li{
        list-style-type: none;
        margin-left: 10px;
    }

    .links a{
        text-decoration: underline;
        text-decoration: none;
    }

    .links a:visited{
        color: #000;
    }

    .links a:hover{
        text-decoration: underline;
        color: darkblue;
        border-radius: 5px;
    }

    .footer p {
        text-align: center;
        color: darkblue;
    }

    .contact-numero span {
        font-size: 20px;
    }
}





















@media screen and (min-width: 500px) and (max-height: 820px){
    *{
        padding: 0;
        outline: none;
        text-decoration: none;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }

    body{
        background-color: #f5f5f5;
        background-size: cover;
    }

    #body-content {
        display: none;
    }

    p{
        color: darkblue;
        font-size: 20px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        text-align: center;
    }

    nav{
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        width: 100px;
        overflow: hidden;
        transition: width 0.2s linear;
        box-shadow: 0 0 10px #ccc;
    }

    .left-nav li a {
        color: #000;
        display: inline-block;
        vertical-align: middle;
        text-decoration: none;
      }
      
      .left-nav li a span {
        vertical-align: middle;
      }

    .left-nav a:hover {
        color: darkblue;
    }

    nav a{
        position: relative;
        font-size: 14px;
        display: table;
        width: 300px;
        padding: 10px;
    }

    .transi {
        position: relative;
        width: 70px;
        height: 40px;
        top: 14px;
        font-size: 20px;
        text-align: center;
    }

    nav:hover{
        width: 200px;
    }   

    li.actual a{
        color: red;   
    }

    .bottom-nav{
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        overflow: hidden;
        transition: height 0.2s linear;
        box-shadow: 0 0 10px #ccc;
        color: #000;
    }
    .bottom-nav li {
        text-align: center;
    }

    .bottom-nav select{
        width: 90px;
    }

    /*NAV mobile*/
    .header-mobile {
        display: none;
    }
    
    /*Partie cookies */
    .cookies_container{
        background-color: #72727285;
        position: fixed;
        top: 0;
        left: 0;
        height: 100vh;
        width: 100vw;
        opacity: 1;
        z-index: 1000;
    }

    .cookies_container.close{
        opacity: 0;
        pointer-events: none;
        transition: opacity 0.2s ease;
    }

    .cookies{
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 170px;
        background-color: #f5f5f5;
        box-shadow: 0 0 10px #ccc;
    }

    .cookies h1 {
        margin-top: 2%;
    }

    .cookies p {
        font-size: 15px;
        color: darkblue;
    }
    
    .decision-button {
        width: 30%;
        margin: 0 auto;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    .decision-button button {
        width: 150px;
        height: 30px;
        border-radius: 5px;
        border: none;
        outline: none;
        background-color: darkblue;
        color: #fff;
        font-size: 15px;
        cursor: pointer;
    }

    .decision-button button:hover {
        background-color: #000;
        height: 31px;
    }

    .decision-button button:active {
        background-color: #000;
        height: 31px;
    }
    /*Partie Popup puis MAIN*/

    .langage_Popup_container {
       background-color: #72727285;
       position: fixed;
       top: 0;
       left: 0;
       height: 100vh;
       width: 100vw;
       opacity: 1;
       transition: opacity 0.2s ease;
    }

    /*Permet  de cacher le popup avec l'opacité à 0*/
    .langage_Popup_container.close{
        opacity: 0;
        pointer-events: none;
    }
    
    /*Permet  de montrer le popup avec l'opacité à 1*/
    .langage_Popup_container.show{
        opacity: 1;
        pointer-events: all;
    }

    .popup {
        text-align: center;
        background-color: #fff;
        box-shadow: 0 0 10px #ccc;
        width: 40%;
        margin: 0 auto;
        margin-top: 20%; 
    }

    .popup p {
        font-size: 17px;
    }

    .popup input{
        margin-bottom: 1%;
    }

    .lang_choix{
        margin-bottom: 3%;
    }

    .lang_choix select {
        width: 50%;
    }

    .errorLang {
        color: red;
        font-size: 0.8rem;
      } 

    main{
        margin: 0 auto;
        margin-top: 2%;
        display: flex;
        flex-direction: column;
        width: 50%;
        overflow: hidden;
    }

   
    main h1{
        margin: 0 auto;
        margin-bottom: 2%;
        font-size: 1.5em;
        text-align: center;
    }

    
    main h1:hover{
        color: darkblue;
        text-shadow: 0 0 10px #2f2f2f;
    }

    main #h3{
        text-align: center;
        color: darkblue;
        font-size: 11px;
        margin-top: -0.8%;
        font-style: italic;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
    }

    main #h3:hover{
        color: darkblue;
        text-shadow: 0 0 10px #2f2f2f;
    }

    #logoChatLawBOT {
        width: 77px;
        height: 77px;
        margin-left: 12px;
    }

    /*Partie chatbot*/
    article{
        width: 100%;
        background-color: #f5f5f5;
        overflow: hidden;   
    }


    .chatbot-section{
        margin: 0 auto;
        margin-top: 1%;
        padding: 30px 20px 30px;
        width: 40vw;
        height: 70vh;
        max-height: 100vh;
        background-color: #f5f5f5;
        border-radius: 10px;
        box-shadow: 0 0 10px #ccc;
    } 

    .chatbot-section{
        margin: 0 auto;
        margin-top: 1%;
        padding: 30px 20px 30px;
        width: 40vw;
        height: 70vh;
        max-height: 100vh;
        background-color: #f5f5f5;
        border-radius: 10px;
        box-shadow: 0 0 10px #ccc;
    }  

    .chatbot-section .chatbot-reponse{
        height: 230px;
        overflow-y: auto;
        padding: 30px 20px 75px;
    }
    .chatbot-section .chat{
        display: flex;
    }

    .chatbot-section .chat p{
        color: #000;
        padding: 12px 16px;
        font-size : 0.95em;
        background-color: lightslategray;
        border-radius: 10px 10px 10px 0;
        white-space: pre-wrap;
    }

    .chatbot-section .reponse-BOT span{
        height: 30px;
        text-align: center;
        background-color: lightslategray;
        line-height: 32px;
        align-self: flex-end;
        border-radius: 4px;
        margin: 0 10px 7px 0;
    }

    li.chat.reponse-BOT.error p{
        background-color: lightcoral;
    }

    li.chat.reponse-BOT.error span{
        background-color: lightcoral;
    }
    .chatbot-section .reponse-User p {
        margin: 20px 0;
        justify-content: flex-end;
        background-color: darkblue;
        color: #fff;
        padding: 12px 16px;
        font-size : 0.95em;
        border-radius: 10px 10px 0 10px;

    }
    .chatbot-section .reponse-User {
        margin: 20px 0;
        justify-content: flex-end;
    }

    .user-question{
        margin: 0 auto;
        margin-top: 2%;
        display: flex;
        flex-direction: row;
        margin-left: auto;
        margin-right: auto;
        width: 35vw;
        background-color: #f5f5f5;
        box-shadow: 0 0 10px #ccc;
        overflow: hidden;   
    }

    /*Partie button*/
    .user-question textarea{
        margin-top: 1%;
        margin-bottom: 1%;
        margin-left: 1%;
        width: 90%;
        height: 30px;
        border-radius: 10px;
        border: none;
        outline: none;
        font-size: 15px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        padding-left: 10px;
        word-wrap: break-word;
        resize: none;
    }

    .user-question textarea:is(:focus, :valid){
        border-width: 2px;
        border-color: darkblue;
    }

    .user-question button[type="submit"]{
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        margin-left: 3%;
        height: 40px;
        width: 70px;    
        display: flex;
        border-color: #fff;
    }

    .chatbot-section .reponse-User p {
        margin: 20px 0;
        justify-content: flex-end;
        background-color: darkblue;
        color: #fff;
        padding: 12px 16px;
        font-size : 0.95em;
        border-radius: 10px 10px 0 10px;

    }

    .chatbot-section .reponse-User {
        margin: 20px 0;
        justify-content: flex-end;
    }
        
    textarea{
        margin: 0 auto;
        margin-top: 10%;
        display: flex;
        height: 100px;
        width: 250px;
        resize: none;
    }

    /*Popup consultante*/
    .consultante-popup{
        position: absolute;
        top: 60%;
        left: 84%;
    }

    .img-consultante {
        margin-top: 15%;
        width: 70px;
        height: 70px;
        border-radius: 35px;
        border: 1.5px solid black;
        background-color: lightgray;
        text-align: center;
    }

    .img-consultante:hover {
        border: 2px solid darkblue;
        cursor: pointer;
        border-radius: 35.5px;
    } 

    .img-consultante img {
        width: 60px;
        margin-top: 2px;
    }

    .texte_popup {
        position: relative;
        background: #ffffff;
        color: #000000;
        width: 90px;
        height: 80px;
        border-radius: 5%;
        border: #000000 solid 1px;
    }

    .texte_popup:after {
        content: "";
        position: absolute;
        display: block;
        width: 0;
        z-index: 1;
        border-style: solid;
        border-color: #ffffff transparent;
        border-width: 20px 8px 0;
        bottom: -20px;
        left: 70%;
        margin-left: -8px;
    }

    .texte_popup:before {
        content: "";
        position: absolute;
        width: 0;
        z-index: 0;
        border-style: solid;
        border-color: #000000 transparent;
        border-width: 21px 9px 0;
        bottom: -21.5px;
        left: 70%;
        margin-left: -9px;
        display: block;
    }

    .texte_popup .information_proposition {
        font-size: 12px;
        color: black;
        text-align: center;
    }

     /*FOOTER*/
     footer{
        height: 9px;
        width: 100%;
        bottom: 0;
        left: 0;
        position: absolute; 
        bottom: 0; 
        right: 0;
        margin: 0 auto;
        padding-top: 10px;
        font-size: 15px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }


    .footer-content{
        margin: 0 auto;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }

    .links h2{
        margin-left: 30px;
    }

    .links li:hover{
        color: darkblue;
        border-radius: 5px;
    }

    .links li{
        list-style-type: none;
        margin-left: 10px;
    }

    .links a{
        text-decoration: underline;
        text-decoration: none;
    }

    .links a:visited{
        color: #000;
    }

    .links a:hover{
        text-decoration: underline;
        color: darkblue;
        border-radius: 5px;
    }

    .footer p {
        text-align: center;
        color: darkblue;
    }
}











@media(max-width: 490px){
    *{
        padding: 0;
        outline: none;
        text-decoration: none;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }

    body{
        background-color: #f5f5f5;
        background-size: cover;
    }

    #body-content {
        display: none;
    }

    p{
        color: darkblue;
        font-size: 20px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        text-align: center;
    }

    /*Partie NAVBAR*/
    .header-computer {
        display: none;
    }   

    .top-nav{
        display: none;
    }

    .li-container{
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 50%;
    }

    .top-nav li {
        list-style-type: none;
    }

    .top-nav li a {
        color: #000;
        display: inline-block;
        vertical-align: middle;
      }
      
    .top-nav li a span {
        vertical-align: middle;
    }

    .header-mobile img {
        height: 30px;
        margin-left: 40%;
    }

    .top-nav a:hover {
        color: darkblue;
    }

    nav a{
        position: relative;
        font-size: 14px;
        display: table;
        width: 100px;
        padding: 10px;
    }


    li.actual a{
        color: red;   
    }

    #checknav{
        display: none;

    }

    .left-li {
        width: 50%;
        margin-left: 15%;
    }

    .right-li{
        width: 50%;
        margin-left: 70%;
    }

    #checknav:checked ~ .top-nav{
        display: block;
    }

    .bottom-nav{
        margin-top: 2%;
        bottom: 0;
        left: 0;
        width: 100%;
        transition: height 0.2s linear;
        color: #000;
    }
    .bottom-nav li {
        text-align: center;
    }

    .bottom-nav select{
        width: 90px;
    }

    /*Partie cookies */
    .cookies_container{
        background-color: #72727285;
        position: fixed;
        top: 0;
        left: 0;
        height: 100vh;
        width: 100vw;
        opacity: 1;
        z-index: 1000;
    }

    .cookies_container.close{
        opacity: 0;
        pointer-events: none;
        transition: opacity 0.2s ease;
    }

    .cookies{
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 200px;
        background-color: #f5f5f5;
        box-shadow: 0 0 10px #ccc;
    }

    .cookies h1 {
        margin-top: 2%;
    }

    .cookies p {
        font-size: 15px;
        color: darkblue;
    }
    
    .decision-button {
        width: 70%;
        margin: 0 auto;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    .decision-button button {
        width: 120px;
        height: 30px;
        border-radius: 5px;
        border: none;
        outline: none;
        background-color: darkblue;
        color: #fff;
        font-size: 15px;
        cursor: pointer;
    }

    .decision-button button:hover {
        background-color: #000;
        height: 31px;
    }

    .decision-button button:active {
        background-color: #000;
        height: 31px;
    }
    /*Partie Popup puis MAIN*/

    .langage_Popup_container {
       background-color: #72727285;
       position: fixed;
       top: 0;
       left: 0;
       height: 100vh;
       width: 100vw;
       opacity: 1;
       transition: opacity 0.2s ease;
    }

    /*Permet  de cacher le popup avec l'opacité à 0*/
    .langage_Popup_container.close{
        opacity: 0;
        pointer-events: none;
    }
    
    /*Permet  de montrer le popup avec l'opacité à 1*/
    .langage_Popup_container.show{
        opacity: 1;
        pointer-events: all;
    }

    .popup {
        text-align: center;
        background-color: #fff;
        box-shadow: 0 0 10px #ccc;
        width: 60%;
        margin: 0 auto;
        margin-top: 75%; 
    }

    .popup input {
        width: 40%;
        height: 30px;
        font-size: 15px;
        cursor: pointer;
        margin-bottom: 1%;
    }

    .popup p {
        font-size: 17px;
    }

    .lang_choix{
        margin-bottom: 3%;
    }

    .lang_choix select {
        height: 40px;
    }

    .errorLang {
        color: red;
        font-size: 0.8rem;
    } 

    /*PARTIE MAIN et chatBOT*/
    main h1{
        text-align: center;
    }

    main #h3{
        text-align: center;
        color: darkblue;
        font-size: 11px;
        margin-top: -4%;
        font-style: italic;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
    }

    main #h3:hover{
        color: darkblue;
        text-shadow: 0 0 10px #2f2f2f;
    }

    article{
        display: flex;
        flex-direction: row;
        width: 100%;
        background-color: #f5f5f5;
        overflow: hidden;   
    }

    .chatbot-section{
        margin: 0 auto;
        margin-top: 1%;
        height: 70%;
        padding: 30px 20px 30px;
        border-radius: 10px;
    } 

    .chatbot-section .chatbot-reponse{
        height: 420px;
        overflow-y: auto;
        padding: 30px 20px 75px;
    }
    .chatbot-section .chat{
        display: flex;
    }

    .chatbot-section .chat p{
        color: #000;
        padding: 12px 16px;
        font-size : 0.95em;
        background-color: lightslategray;
        border-radius: 10px 10px 10px 0;
        white-space: pre-wrap;
    }

    .chatbot-section .reponse-BOT span{
        height: 30px;
        text-align: center;
        background-color: lightslategray;
        line-height: 32px;
        align-self: flex-end;
        border-radius: 4px;
        margin: 0 10px 7px 0;
    }

    li.chat.reponse-BOT.error p{
        background-color: lightcoral;
    }

    li.chat.reponse-BOT.error span{
        background-color: lightcoral;
    }
    
    .chatbot-section .reponse-User p {
        margin: 20px 0;
        justify-content: flex-end;
        background-color: darkblue;
        color: #fff;
        padding: 12px 16px;
        font-size : 0.95em;
        border-radius: 10px 10px 0 10px;

    }
    .chatbot-section .reponse-User {
        margin: 20px 0;
        justify-content: flex-end;
    }

    .user-question{
        margin: 0 auto;
        margin-top: 2%;
        display: flex;
        flex-direction: row;
        margin-left: auto;
        margin-right: auto;
        width: 95%;
        background-color: #f5f5f5;
        box-shadow: 0 0 10px #ccc;
        overflow: hidden;   
    }

    /*Partie button*/
    .user-question textarea{
        margin-top: 1%;
        margin-bottom: 1%;
        margin-left: 1%;
        width: 90%;
        height: 40px;
        border-radius: 10px;
        border: none;
        outline: none;
        font-size: 15px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        padding-left: 10px;
        word-wrap: break-word;
        resize: none;
    }

    .user-question textarea:is(:focus, :valid){
        border-width: 2px;
        border-color: darkblue;
    }

    .user-question button[type="submit"]{
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        margin-left: 3%;
        height: 40px;
        width: 70px;    
        display: flex;
        border-color: #fff;
    }

    .chatbot-section .reponse-User p {
        margin: 20px 0;
        justify-content: flex-end;
        background-color: darkblue;
        color: #fff;
        padding: 12px 16px;
        font-size : 0.95em;
        border-radius: 10px 10px 0 10px;

    }

    .chatbot-section .reponse-User {
        margin: 20px 0;
        justify-content: flex-end;
    }
        
    textarea{
        margin: 0 auto;
        margin-top: 10%;
        display: flex;
        height: 100px;
        width: 250px;
        resize: none;
    }
    
    /*Popup consultante*/
    .consultante-popup{
        margin-left: 38%;
        margin-bottom: 10%;
    }

    .img-consultante {
        margin-top: 4%;
        width: 70px;
        height: 70px;
        border-radius: 35px;
        border: 1.5px solid black;
        background-color: lightgray;
        text-align: center;
    }

    .img-consultante:hover {
        border: 2px solid darkblue;
        cursor: pointer;
        border-radius: 35.5px;
    } 

    .img-consultante img {
        width: 60px;
        margin-top: 2px;
    }

    .texte_popup {
        position: relative;
        background: #ffffff;
        color: #000000;
        width: 90px;
        height: 80px;
        border-radius: 5%;
        border: #000000 solid 1px;
    }

    .texte_popup:after {
        content: "";
        position: absolute;
        display: block;
        width: 0;
        z-index: 1;
        border-style: solid;
        border-color: #ffffff transparent;
        border-width: 20px 8px 0;
        bottom: -20px;
        left: 70%;
        margin-left: -8px;
    }

    .texte_popup:before {
        content: "";
        position: absolute;
        width: 0;
        z-index: 0;
        border-style: solid;
        border-color: #000000 transparent;
        border-width: 21px 9px 0;
        bottom: -21.5px;
        left: 70%;
        margin-left: -9px;
        display: block;
    }

    .texte_popup .information_proposition {
        font-size: 12px;
        color: black;
        text-align: center;
    }

    /*partie FOOTER*/
    .footer{
        height: 9px;
        width: 100%;
        bottom: 0;
        left: 0;
        bottom: 0; 
        right: 0;
        margin: 0 auto;
        padding-top: 10px;
        font-size: 15px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }


    .footer-content{
        margin: 0 auto;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }

    .about p{
        color: darkblue;
        font-size: 20px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        text-align: center;
    }

    .footer-content {
        margin-top: 20%;
    }

    .contact-numero{
        width: 90%;
    }

    .links{
        margin-left: 10%;
    }

    .links h2{
        margin-left: 30px;
    }

    .links li:hover{
        color: darkblue;
        border-radius: 5px;
    }

    .links li{
        list-style-type: none;
        margin-left: 15px;
    }

    .links a{
        text-decoration: underline;
        text-decoration: none;
    }

    .links a:visited{
        color: #000;
    }

    .links a:hover{
        text-decoration: underline;
        color: darkblue;
        border-radius: 5px;
    }

    .footer p {
        text-align: center;
        color: darkblue;
    }

    .contact-numero span {
        font-size: 20px;
    }

}




@media(max-width: 490px) and (max-height: 700px){

    *{
        padding: 0;
        outline: none;
        text-decoration: none;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }

    body{
        background-color: #f5f5f5;
        background-size: cover;
    }

    #body-content {
        display: none;
    }

    p{
        color: darkblue;
        font-size: 20px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        text-align: center;
    }

    /*Partie NAVBAR*/
    .header-computer {
        display: none;
    }   

    .top-nav{
        display: none;
    }

    .li-container{
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 50%;
    }

    .top-nav li {
        list-style-type: none;
    }

    .top-nav li a {
        color: #000;
        display: inline-block;
        vertical-align: middle;
      }
      
    .top-nav li a span {
        vertical-align: middle;
    }

    .header-mobile img {
        height: 30px;
        margin-left: 40%;
    }

    .top-nav a:hover {
        color: darkblue;
    }

    nav a{
        position: relative;
        font-size: 14px;
        display: table;
        width: 100px;
        padding: 10px;
    }


    li.actual a{
        color: red;   
    }

    #checknav{
        display: none;

    }

    .left-li {
        width: 50%;
        margin-left: 15%;
    }

    .right-li{
        width: 50%;
        margin-left: 70%;
    }

    #checknav:checked ~ .top-nav{
        display: block;
    }

    .bottom-nav{
        margin-top: 2%;
        bottom: 0;
        left: 0;
        width: 100%;
        transition: height 0.2s linear;
        color: #000;
    }
    .bottom-nav li {
        text-align: center;
    }

    .bottom-nav select{
        width: 90px;
    }

    /*Partie cookies */
    .cookies_container{
        background-color: #72727285;
        position: fixed;
        top: 0;
        left: 0;
        height: 100vh;
        width: 100vw;
        opacity: 1;
        z-index: 1000;
    }

    .cookies_container.close{
        opacity: 0;
        pointer-events: none;
        transition: opacity 0.2s ease;
    }

    .cookies{
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 200px;
        background-color: #f5f5f5;
        box-shadow: 0 0 10px #ccc;
    }


    .cookies h1 {
        margin-top: 2%;
    }

    .cookies p {
        font-size: 15px;
        color: darkblue;
    }
    
    .decision-button {
        width: 70%;
        margin: 0 auto;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    .decision-button button {
        width: 120px;
        height: 30px;
        border-radius: 5px;
        border: none;
        outline: none;
        background-color: darkblue;
        color: #fff;
        font-size: 15px;
        cursor: pointer;
    }

    .decision-button button:hover {
        background-color: #000;
        height: 31px;
    }

    .decision-button button:active {
        background-color: #000;
        height: 31px;
    }
    /*Partie Popup puis MAIN*/

    .langage_Popup_container {
       background-color: #72727285;
       position: fixed;
       top: 0;
       left: 0;
       height: 100vh;
       width: 100vw;
       opacity: 1;
       transition: opacity 0.2s ease;
    }

    /*Permet  de cacher le popup avec l'opacité à 0*/
    .langage_Popup_container.close{
        opacity: 0;
        pointer-events: none;
    }
    
    /*Permet  de montrer le popup avec l'opacité à 1*/
    .langage_Popup_container.show{
        opacity: 1;
        pointer-events: all;
    }

    .popup {
        text-align: center;
        background-color: #fff;
        box-shadow: 0 0 10px #ccc;
        width: 60%;
        margin: 0 auto;
        margin-top: 60%; 
    }

    .popup p {
        font-size: 20px;
    }

    .popup input{
        margin-bottom: 1%;
    }

    .lang_choix{
        margin-bottom: 3%;
    }

    .lang_choix select {
        width: 70%;
        height: 40px;
    }

    .errorLang {
        color: red;
        font-size: 0.8rem;
    } 

    .popup input {
        width: 40%;
        height: 30px;
        margin-top: 3%;
        font-size: 15px;
        cursor: pointer;
    }

    /*PARTIE MAIN et chatBOT*/
    main h1{
        text-align: center;
    }

    main #h3{
        text-align: center;
        color: darkblue;
        font-size: 11px;
        margin-top: -2%;
        font-style: italic;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
    }

    main #h3:hover{
        color: darkblue;
        text-shadow: 0 0 10px #2f2f2f;
    }

    article{
        display: flex;
        flex-direction: row;
        width: 100%;
        background-color: #f5f5f5;
        overflow: hidden;   
    }

    .chatbot-section{
        margin: 0 auto;
        margin-top: 1%;
        height: 70%;
        padding: 30px 20px 30px;
        border-radius: 10px;
    } 

    .chatbot-section .chatbot-reponse{
        height: 220px;
        overflow-y: auto;
        padding: 30px 20px 75px;
    }
    .chatbot-section .chat{
        display: flex;
    }

    .chatbot-section .chat p{
        color: #000;
        padding: 12px 16px;
        font-size : 0.95em;
        background-color: lightslategray;
        border-radius: 10px 10px 10px 0;
        white-space: pre-wrap;
    }

    .chatbot-section .reponse-BOT span{
        height: 30px;
        text-align: center;
        background-color: lightslategray;
        line-height: 32px;
        align-self: flex-end;
        border-radius: 4px;
        margin: 0 10px 7px 0;
    }

    li.chat.reponse-BOT.error p{
        background-color: lightcoral;
    }

    li.chat.reponse-BOT.error span{
        background-color: lightcoral;
    }
    
    .chatbot-section .reponse-User p {
        margin: 20px 0;
        justify-content: flex-end;
        background-color: darkblue;
        color: #fff;
        padding: 12px 16px;
        font-size : 0.95em;
        border-radius: 10px 10px 0 10px;

    }
    .chatbot-section .reponse-User {
        margin: 20px 0;
        justify-content: flex-end;
    }

    .user-question{
        margin: 0 auto;
        margin-top: 2%;
        display: flex;
        flex-direction: row;
        margin-left: auto;
        margin-right: auto;
        width: 95%;
        background-color: #f5f5f5;
        box-shadow: 0 0 10px #ccc;
        overflow: hidden;   
    }

    /*Partie button*/
    .user-question textarea{
        margin-top: 1%;
        margin-bottom: 1%;
        margin-left: 1%;
        width: 90%;
        height: 40px;
        border-radius: 10px;
        border: none;
        outline: none;
        font-size: 15px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        padding-left: 10px;
        word-wrap: break-word;
        resize: none;
    }

    .user-question textarea:is(:focus, :valid){
        border-width: 2px;
        border-color: darkblue;
    }

    .user-question button[type="submit"]{
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        margin-left: 3%;
        height: 40px;
        width: 70px;    
        display: flex;
        border-color: #fff;
    }

    .chatbot-section .reponse-User p {
        margin: 20px 0;
        justify-content: flex-end;
        background-color: darkblue;
        color: #fff;
        padding: 12px 16px;
        font-size : 0.95em;
        border-radius: 10px 10px 0 10px;

    }

    .chatbot-section .reponse-User {
        margin: 20px 0;
        justify-content: flex-end;
    }
        
    textarea{
        margin: 0 auto;
        margin-top: 10%;
        display: flex;
        height: 100px;
        width: 250px;
        resize: none;
    }

        /*Popup consultante*/
        .consultante-popup{
            margin-left: 38%;
            margin-bottom: 10%;
        }
    
        .img-consultante {
            margin-top: 4%;
            width: 70px;
            height: 70px;
            border-radius: 35px;
            border: 1.5px solid black;
            background-color: lightgray;
            text-align: center;
        }
    
        .img-consultante:hover {
            border: 2px solid darkblue;
            cursor: pointer;
            border-radius: 35.5px;
        } 
    
        .img-consultante img {
            width: 60px;
            margin-top: 2px;
        }
    
        .texte_popup {
            position: relative;
            background: #ffffff;
            color: #000000;
            width: 90px;
            height: 80px;
            border-radius: 5%;
            border: #000000 solid 1px;
        }
    
        .texte_popup:after {
            content: "";
            position: absolute;
            display: block;
            width: 0;
            z-index: 1;
            border-style: solid;
            border-color: #ffffff transparent;
            border-width: 20px 8px 0;
            bottom: -20px;
            left: 70%;
            margin-left: -8px;
        }
    
        .texte_popup:before {
            content: "";
            position: absolute;
            width: 0;
            z-index: 0;
            border-style: solid;
            border-color: #000000 transparent;
            border-width: 21px 9px 0;
            bottom: -21.5px;
            left: 70%;
            margin-left: -9px;
            display: block;
        }
    
        .texte_popup .information_proposition {
            font-size: 12px;
            color: black;
            text-align: center;
        }

    /*partie FOOTER*/
    .footer{
        height: 9px;
        width: 100%;
        bottom: 0;
        left: 0;
        bottom: 0; 
        right: 0;
        margin: 0 auto;
        padding-top: 10px;
        font-size: 15px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }


    .footer-content{
        margin: 0 auto;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }

    .about p{
        color: darkblue;
        font-size: 20px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        text-align: center;
    }

    .footer-content {
        margin-top: 20%;
    }

    .contact-numero{
        width: 90%;
    }

    .links{
        margin-left: 10%;
    }

    .links h2{
        margin-left: 30px;
    }

    .links li:hover{
        color: darkblue;
        border-radius: 5px;
    }

    .links li{
        list-style-type: none;
        margin-left: 15px;
    }

    .links a{
        text-decoration: underline;
        text-decoration: none;
    }

    .links a:visited{
        color: #000;
    }

    .links a:hover{
        text-decoration: underline;
        color: darkblue;
        border-radius: 5px;
    }

    .footer p {
        text-align: center;
        color: darkblue;
    }

    .contact-numero span {
        font-size: 20px;
    }

}





























@media(max-width: 370px){
    *{
        padding: 0;
        outline: none;
        text-decoration: none;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }

    body{
        background-color: #f5f5f5;
        background-size: cover;
    }

    #body-content {
        display: none;
    }

    p{
        color: darkblue;
        font-size: 20px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        text-align: center;
    }

    /*Partie NAVBAR*/
    .header-computer {
        display: none;
    }   

    .top-nav{
        display: none;
    }

    .li-container{
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 50%;
    }

    .top-nav li {
        list-style-type: none;
    }

    .top-nav li a {
        color: #000;
        display: inline-block;
        vertical-align: middle;
      }
      
    .top-nav li a span {
        vertical-align: middle;
    }

    .header-mobile img {
        height: 30px;
        margin-left: 40%;
    }

    .top-nav a:hover {
        color: darkblue;
    }

    nav a{
        position: relative;
        font-size: 14px;
        display: table;
        width: 100px;
        padding: 10px;
    }


    li.actual a{
        color: red;   
    }

    #checknav{
        display: none;

    }

    .left-li {
        width: 50%;
        margin-left: 15%;
    }

    .right-li{
        width: 50%;
        margin-left: 70%;
    }

    #checknav:checked ~ .top-nav{
        display: block;
    }

    .bottom-nav{
        margin-top: 2%;
        bottom: 0;
        left: 0;
        width: 100%;
        transition: height 0.2s linear;
        color: #000;
    }
    .bottom-nav li {
        text-align: center;
    }

    .bottom-nav select{
        width: 90px;
    }

    /*Partie cookies */
    .cookies_container{
        background-color: #72727285;
        position: fixed;
        top: 0;
        left: 0;
        height: 100vh;
        width: 100vw;
        opacity: 1;
        z-index: 1000;
    }

    .cookies_container.close{
        opacity: 0;
        pointer-events: none;
        transition: opacity 0.2s ease;
    }

    .cookies{
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 170px;
        background-color: #f5f5f5;
        box-shadow: 0 0 10px #ccc;
    }

    .cookies h1 {
        margin-top: 2%;
    }

    .cookies p {
        font-size: 15px;
        color: darkblue;
    }
    
    .decision-button {
        width: 30%;
        margin: 0 auto;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    .decision-button button {
        width: 150px;
        height: 30px;
        border-radius: 5px;
        border: none;
        outline: none;
        background-color: darkblue;
        color: #fff;
        font-size: 15px;
        cursor: pointer;
    }

    .decision-button button:hover {
        background-color: #000;
        height: 31px;
    }

    .decision-button button:active {
        background-color: #000;
        height: 31px;
    }
    /*Partie Popup puis MAIN*/

    .langage_Popup_container {
       background-color: #72727285;
       position: fixed;
       top: 0;
       left: 0;
       height: 100vh;
       width: 100vw;
       opacity: 1;
       transition: opacity 0.2s ease;
    }

    /*Permet  de cacher le popup avec l'opacité à 0*/
    .langage_Popup_container.close{
        opacity: 0;
        pointer-events: none;
    }
    
    /*Permet  de montrer le popup avec l'opacité à 1*/
    .langage_Popup_container.show{
        opacity: 1;
        pointer-events: all;
    }

    .popup {
        text-align: center;
        background-color: #fff;
        box-shadow: 0 0 10px #ccc;
        width: 40%;
        margin: 0 auto;
        margin-top: 20%; 
    }

    .popup p {
        font-size: 20px;
    }

    .popup input{
        margin-bottom: 1%;
    }

    .lang_choix{
        margin-bottom: 3%;
    }

    .lang_choix select {
        width: 70%;
        height: 40px;
    }

    .errorLang {
        color: red;
        font-size: 0.8rem;
    } 

    /*PARTIE MAIN et chatBOT*/
    main h1{
        text-align: center;
    }

    main #h3{
        text-align: center;
        color: darkblue;
        font-size: 11px;
        margin-top: -0.8%;
        font-style: italic;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
    }

    main #h3:hover{
        color: darkblue;
        text-shadow: 0 0 10px #2f2f2f;
    }

    article{
        display: flex;
        flex-direction: row;
        width: 100%;
        background-color: #f5f5f5;
        overflow: hidden;   
    }

    .chatbot-section{
        margin: 0 auto;
        margin-top: 1%;
        height: 70%;
        padding: 30px 20px 30px;
        border-radius: 10px;
    } 

    .chatbot-section .chatbot-reponse{
        height: 420px;
        overflow-y: auto;
        padding: 30px 20px 75px;
    }
    .chatbot-section .chat{
        display: flex;
    }

    .chatbot-section .chat p{
        color: #000;
        padding: 12px 16px;
        font-size : 0.95em;
        background-color: lightslategray;
        border-radius: 10px 10px 10px 0;
        white-space: pre-wrap;
    }

    .chatbot-section .reponse-BOT span{
        height: 30px;
        text-align: center;
        background-color: lightslategray;
        line-height: 32px;
        align-self: flex-end;
        border-radius: 4px;
        margin: 0 10px 7px 0;
    }

    li.chat.reponse-BOT.error p{
        background-color: lightcoral;
    }

    li.chat.reponse-BOT.error span{
        background-color: lightcoral;
    }
    
    .chatbot-section .reponse-User p {
        margin: 20px 0;
        justify-content: flex-end;
        background-color: darkblue;
        color: #fff;
        padding: 12px 16px;
        font-size : 0.95em;
        border-radius: 10px 10px 0 10px;

    }
    .chatbot-section .reponse-User {
        margin: 20px 0;
        justify-content: flex-end;
    }

    .user-question{
        margin: 0 auto;
        margin-top: 2%;
        display: flex;
        flex-direction: row;
        margin-left: auto;
        margin-right: auto;
        width: 95%;
        background-color: #f5f5f5;
        box-shadow: 0 0 10px #ccc;
        overflow: hidden;   
    }

    /*Partie button*/
    .user-question textarea{
        margin-top: 1%;
        margin-bottom: 1%;
        margin-left: 1%;
        width: 90%;
        height: 40px;
        border-radius: 10px;
        border: none;
        outline: none;
        font-size: 15px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        padding-left: 10px;
        word-wrap: break-word;
        resize: none;
    }

    .user-question textarea:is(:focus, :valid){
        border-width: 2px;
        border-color: darkblue;
    }

    .user-question button[type="submit"]{
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        margin-left: 3%;
        height: 40px;
        width: 70px;    
        display: flex;
        border-color: #fff;
    }

    .chatbot-section .reponse-User p {
        margin: 20px 0;
        justify-content: flex-end;
        background-color: darkblue;
        color: #fff;
        padding: 12px 16px;
        font-size : 0.95em;
        border-radius: 10px 10px 0 10px;

    }

    .chatbot-section .reponse-User {
        margin: 20px 0;
        justify-content: flex-end;
    }
        
    textarea{
        margin: 0 auto;
        margin-top: 10%;
        display: flex;
        height: 100px;
        width: 250px;
        resize: none;
    }

    /*partie FOOTER*/
    .footer{
        height: 9px;
        width: 100%;
        bottom: 0;
        left: 0;
        bottom: 0; 
        right: 0;
        margin: 0 auto;
        padding-top: 10px;
        font-size: 15px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }


    .footer-content{
        margin: 0 auto;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }

    .about p{
        color: darkblue;
        font-size: 20px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        text-align: center;
    }

    .footer-content {
        margin-top: 20%;
    }

    .contact-numero{
        width: 90%;
    }

    .links{
        margin-left: 10%;
    }

    .links h2{
        margin-left: 30px;
    }

    .links li:hover{
        color: darkblue;
        border-radius: 5px;
    }

    .links li{
        list-style-type: none;
        margin-left: 15px;
    }

    .links a{
        text-decoration: underline;
        text-decoration: none;
    }

    .links a:visited{
        color: #000;
    }

    .links a:hover{
        text-decoration: underline;
        color: darkblue;
        border-radius: 5px;
    }

    .footer p {
        text-align: center;
        color: darkblue;
    }

    .contact-numero span {
        font-size: 20px;
    }

}













@media(max-width: 360px){
    *{
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }

    h1{
        color: white;
        font-size: 25px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        text-align: center;
        text-shadow: 2px 2px 2px black;
    }


    .popup input{
        margin-bottom: 1%;
    }

    main #h3{
        text-align: center;
        color: darkblue;
        font-size: 11px;
        margin-top: -0.8%;
        font-style: italic;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
    }

    main #h3:hover{
        color: darkblue;
        text-shadow: 0 0 10px #2f2f2f;
    }

    article{
        margin-top: 2%;
        display: flex;
        flex-direction: row;
        width: 100%;
        background-color: #f5f5f5;
        overflow: hidden;   
    }
    .chatbot-section .chatbot-reponse{
        padding: 30px 20px 75px;
    }
    .chatbot-section .chat{
        display: flex;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }
    

    .chatbot-section .chat p{
        color: #000;
        padding: 12px 16px;
        font-size : 0.95em;
        background-color: lightslategray;
        border-radius: 10px 10px 10px 0;
        white-space: pre-wrap;
    }

    .chatbot-section .reponse-BOT span{
        height: 30px;
        text-align: center;
        background-color: lightslategray;
        line-height: 32px;
        align-self: flex-end;
        border-radius: 4px;
        margin: 0 10px 7px 0;
    }

    li.chat.reponse-BOT.error p{
        background-color: lightcoral;
    }

    li.chat.reponse-BOT.error span{
        background-color: lightcoral;
    }

    .chatbot-section .reponse-User p {
        margin: 20px 0;
        justify-content: flex-end;
        background-color: darkblue;
        color: #fff;
        padding: 12px 16px;
        font-size : 0.95em;
        border-radius: 10px 10px 0 10px;
        max-width: 250px;

    }

    .chatbot-section .reponse-User {
        margin: 20px 0;
        justify-content: flex-end;
    }

    .user-question{
        margin: 0 auto;
        margin-top: 2%;
        display: flex;
        flex-direction: row;
        margin-left: auto;
        margin-right: auto;
        width: 300px;
        background-color: #f5f5f5;
        box-shadow: 0 0 10px #ccc;
        overflow: hidden;   
    }

    .user-question textarea{
        max-height: 70px;  
        margin-top: 1%;
        margin-left: 1%;
        width: 250px;
        height: 30px;
        border-radius: 10px;
        border: none;
        outline: none;
        font-size: 15px;
        padding-left: 10px;
        max-width: 250px;
        word-wrap: break-word;
        resize: none;
    }

    .user-question textarea:is(:focus, :valid){
        border-width: 2px;
        border-color: darkblue;
    }

    .user-question button[type="submit"]{
        margin-left: 3%;
        height: 40px;
        width: 70px;    
        display: flex;
        border-color: #fff;
    }

    /*Partie Footer*/
    footer{
        background-color: #f5f5f5;
        height: 50px;
        width: 100%;
        bottom: 0;
        left: 0;
        right: 0;
        margin: 0 auto;
        padding-top: 10px;
        font-size: 15px;
    }

    .footer-content{
        margin: 0 auto;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }

    .links h2{
        margin-left: 30px;
    }

    .links li:hover{
        color: darkblue;
        border-radius: 5px;
    }

    .links li{
        list-style-type: none;
        margin-left: 10px;
    }

    .links a{
        text-decoration: underline;
        text-decoration: none;
    }

    .links a:hover{
        text-decoration: underline;
        color: darkblue;
        border-radius: 5px;

    }

    .links a:visited{
        color: #000;
    }

    .contact-numero span {
        font-size: 20px;
    }

}



