/* Déclaration des polices personnalisées */
@font-face {
  font-family: 'Jost';
  src: url('/assets/fonts/Jost/Jost-VariableFont_wght.ttf') format('truetype');
  font-weight: 100 900;
  font-style: normal;
}

@font-face {
  font-family: 'IslandMoments';
  src: url('/assets/fonts/IslandMoments-Regular.ttf') format('truetype');
  font-style: normal;
}

/* Déclaration des variables CSS globales */
:root {
  --base-font-size: 16px;
  --font-size-multiplier: 0.02;

  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 255, 255, 255;
  --background-end-rgb: 255, 255, 255;
  --title-size: 36px;
  --foreground-color: #FFFFFF;
  --font-primary: 'Jost', sans-serif;
  --font-secondary: 'IslandMoments', sans-serif;
  --primary-color: #A00C30;
  --secondary-color: #F5F5F5;
  --placeholder-color: rgb(131, 128, 128);
  --label-color: #999;
  --label-focus-color: #000;
  --border-color: #000;
  --border-hover-color: white;
  --checkbox-border-color: gray;
  --checkbox-checked-bg: blue;
  --checkbox-checked-border: blue;
  --popup-bg: white;
  --popup-shadow: rgba(0, 0, 0, 0.1);
}


@keyframes slideTop {
  0% {
    transform: translateY(-100%);
  }

  100% {
    transform: translateY(0%);
  }
}

@keyframes slideBottom {
  0% {
    transform: translateY(100%);
  }

  100% {
    transform: translateY(0%);
  }
}

@keyframes slideLeft {
  0% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(0%);
  }
}

@keyframes slideRight {
  0% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(0%);
  }
}


body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom, transparent, rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
  font-family: var(--font-primary);
}

p {
  color: rgb(var(--foreground-rgb));
  font-size: var(--base-font-size);
  text-align: center;
}

h2,
h1 {
  font-size: var(--title-size);
}

nav {
  position: absolute;
  top: 0;
  left: 0;
  width: 160px;
  height: 100vh;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  transition: width 0.3s ease;
}

#logoChatLawBOT {
  width: 100px;
  height: 100px;
  margin: 20px auto;
  display: block;
}

.left-nav {
  list-style: none;
  padding: 0;
  margin: 0;
  font-family: var(--font-primary);
}

.left-nav li {
  margin: 20px 0;
  color: black;
}

.left-nav li a {
  text-decoration: none;
  color: black;
  display: flex;
  align-items: center;
  padding: 10px 20px;
  transition: background-color 0.3s ease;
}

.left-nav li a:hover {
  background-color: var(--primary-color);
  color: var(--secondary-color);
}

.left-nav li a span {
  margin-left: 10px;
}

nav a {
  font-size: 16px;
}

li.actual a {
  font-weight: bold;
}

.cookies_container.hidden {
  display: none;
  z-index: -100000;
}

/*NAV mobile*/
.header-mobile {
  display: none;
}

/*Partie cookies */
.cookies_container {
  background-color: #72727285;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  opacity: 1;
  z-index: 1000;
}

.cookies_container.close {
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.4s ease;
}

.cookies {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  min-height: 200px;
  height: auto;
  color: rgb(var(--foreground-rgb));
  background-color: var(--secondary-color);
  box-shadow: 0 0 10px #ccc;
}

.cookies h1 {
  margin-top: 2%;
}

.cookies p {
  font-size: var(--base-font-size);
  padding: 0 10%;
}

.decision-button {
  width: 30%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.decision-button #accepter_cookies {
  width: 150px;
  height: 30px;
  border-radius: 5px;
  border: none;
  outline: none;
  background-color: var(--label-focus-color);
  color: var(--secondary-color);
  font-size: var(--base-font-size);
  cursor: pointer;
}

.decision-button #accepter_cookies:hover {
  height: 31px;
}

.decision-button #refuser_cookies {
  width: 150px;
  height: 30px;
  border-radius: 5px;
  border: none;
  outline: none;
  background-color: var(--primary-color);
  color: var(--secondary-color);
  font-size: var(--base-font-size);
  cursor: pointer;
}

.decision-button #refuser_cookies:hover {
  background-color: var(--primary-color);
  height: 31px;
}


.decision-button button:active {
  background-color: var(--label-focus-color);
  height: 31px;
}

/*FOOTER*/
footer {
  background-color: var(--background-color, #f9f9f9);
  padding: 0 0 0 0;
  text-align: center;
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  justify-content: center;
  font-size: var(--base-font-size, 14px);
  color: var(--primary-color, #333);
  margin-top: 10px;
}

footer hr {
  width: 100%;
  border: none;
  border-top: 1px solid var(--border-color, #333);
  margin-bottom: 20px;
}

.footer-content {
  display: flex;
  flex-direction: row;
  align-items: start;
  justify-content: space-between;
  width: 100%;
}

.contact {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
}

.copy {
  display: flex;
  align-items: center;
  justify-content: center;
}

.about {
  max-width: 60%;
}

.about p {
  margin: 0;
  line-height: 1.5;
  text-align: center;
  color: var(--primary-color);
  width: 100%;
}

.contact p {
  margin: 0;
  line-height: 1.5;
  display: flex;
  align-items: center;
  gap: 8px;
  justify-content: center;
}

.contact a {
  color: var(--label-focus-color);
  text-decoration: none;
}

.contact a:hover {
  text-decoration: underline;
}

footer h2 {
  margin-bottom: 10px;
  font-size: 1rem;
  color: var(--primary-color, #333);
}

.links ul {
  text-align: left;
  padding: 0;
  margin: 0;
  list-style: none;
}

.links li {
  margin-bottom: 5px;
}

.links a {
  color: var(--label-focus-color);
  text-decoration: none;
}

.links a:hover {
  text-decoration: underline;
}

@media (max-width: 768px) {
  .footer-content {
    flex-direction: column;
    gap: 20px;
    margin-top: 20px;
    justify-content: center;
    align-items: center;
  }

  .links ul {
    text-align: center;
  }

  .copy {
    margin-top: 30px;
  }
}





/* Styles pour tablettes et téléphones */
@media (max-width: 1024px) {
  nav {
    width: 100%;
    height: auto;
    box-shadow: none;
    position: relative;
  }

  nav img {
    width: 40px;
    height: 40px;
    margin: 5px auto;
    display: block;
  }

  .header-computer {
    display: none;
  }

  .header-mobile {
    display: block;
  }

  .header-mobile label {
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    cursor: pointer;
  }

  .header-mobile input[type="checkbox"] {
    display: none;
  }

  .header-mobile input[type="checkbox"]:checked~.top-nav {
    display: flex;
  }

  .header-mobile .top-nav {
    display: none;
    flex-direction: column;
    width: 100%;
    padding: 10px 0;
  }

  .header-mobile .top-nav .li-container {
    display: flex;
    flex-direction: column;
  }

  .header-mobile .top-nav .li-container .left-li,
  .header-mobile .top-nav .li-container .right-li {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .header-mobile .top-nav li {
    width: 100%;
    padding: 10px 20px;
  }

  .header-mobile .top-nav li a {
    display: flex;
    align-items: center;
    width: 100%;
    color: var(--foreground-rgb);
    text-decoration: none;
  }

  .header-mobile .top-nav li a:hover {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    width: 90%;
  }

  .header-mobile .top-nav li a span {
    margin-right: 10px;
  }

  .header-mobile hr {
    margin: 0;
    border: none;
    border-top: 1px solid var(--border-color);
  }

  .decision-button {
    width: 50%;
  }

}