@media screen and (min-width: 500px) and (min-height: 790px) {
    p{
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    color: #000;
    margin-top: 100px;
    }

    /* a #home en bas de la page à gauche*/
    a#home{
        position: absolute;
        bottom: 0;
        left: 0;
        margin-bottom: 20px;
        margin-left: 20px;
        font-size: 20px;
        font-weight: bold;
        color: green;
    }

    nav{
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        width: 100px;
        overflow: hidden;
        transition: width 0.2s linear;
        box-shadow: 0 0 10px #ccc;
    }

    .left-nav li a {
        color: #000;
        display: inline-block;
        vertical-align: middle;
      }
      
      .left-nav li a span {
        vertical-align: middle;
      }

    .left-nav a:hover {
        color: darkblue;
    }

    nav a{
        position: relative;
        font-size: 14px;
        display: table;
        width: 300px;
        padding: 10px;
    }

    .transi {
        position: relative;
        width: 70px;
        height: 40px;
        top: 14px;
        font-size: 20px;
        text-align: center;
    }

    nav:hover{
        width: 200px;
    }   

    li.actual a{
        color: red;   
    }

        /*FOOTER*/
    footer{
        height: 9px;
        width: 100%;
        bottom: 0;
        left: 0;
        position: absolute; 
        bottom: 0; 
        right: 0;
        margin: 0 auto;
        padding-top: 10px;
        font-size: 15px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }

    .footer-content{
        margin: 0 auto;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }

    .links h2{
        margin-left: 30px;
    }

    .links a:visited{
        color: #000;
    }
    .links li:hover{
        text-decoration: underline;
        color: darkblue;
        border-radius: 5px;
        cursor: pointer;
    }

        /*FOOTER*/
    footer{
        height: 9px;
        width: 100%;
        bottom: 0;
        left: 0;
        position: absolute; 
        bottom: 0; 
        right: 0;
        margin: 0 auto;
        padding-top: 10px;
        font-size: 15px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }

    .footer-content{
        margin: 0 auto;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }

    .links h2{
        margin-left: 30px;
    }

    .links a:visited{
        color: #000;
    }
    .links li:hover{
        text-decoration: underline;
        color: darkblue;
        border-radius: 5px;
        cursor: pointer;
    }
}






@media screen and (min-width: 500px) and (max-height: 820px){
    *{
        padding: 0;
        outline: none;
        text-decoration: none;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }

    body{
        background-color: #f5f5f5;
        background-size: cover;
    }


    main{
        margin: 0 auto;
        margin-top: 2%;
        display: flex;
        flex-direction: column;
        width: 50%;
        overflow: hidden;
    }

    /*Partie NAVBAR*/
    nav{
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        width: 100px;
        overflow: hidden;
        transition: width 0.2s linear;
        box-shadow: 0 0 10px #ccc;
    }

    .left-nav li a {
        color: #000;
        display: inline-block;
        vertical-align: middle;
        text-decoration: none;
      }
      
      .left-nav li a span {
        vertical-align: middle;
      }

    .left-nav a:hover {
        color: darkblue;
    }

    nav a{
        position: relative;
        font-size: 14px;
        display: table;
        width: 300px;
        padding: 10px;
    }

    .transi {
        position: relative;
        width: 70px;
        height: 40px;
        top: 14px;
        font-size: 20px;
        text-align: center;
    }

    nav:hover{
        width: 200px;
    }   

    li.actual a{
        color: red;   
    }

    /*Partie MAIN CONTENT*/
    .errorURL{
        margin: 0 auto;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .errorURL p {
        font-size: 20px;
        font-weight: bold;
    }

    .errorURL #ERREUR{
        font-size: 50px;
        font-weight: bold;
        color: red;
    }

    .errorURL a {
        color: darkblue;
        font-size: 20px;
        font-weight: bold;
    }

    #home a:hover {
        text-decoration: underline;
        color: darkblue;
    }

     /*FOOTER*/
     footer{
        height: 9px;
        width: 100%;
        bottom: 0;
        left: 0;
        position: absolute; 
        bottom: 0; 
        right: 0;
        margin: 0 auto;
        padding-top: 10px;
        font-size: 15px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }

    footer p{
        color: darkblue;
        font-size: 20px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        text-align: center;
    }


    .footer-content{
        margin: 0 auto;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }

    .links h2{
        margin-left: 30px;
    }

    .links a:visited{
        color: #000;
    }

    .links li:hover{
        text-decoration: underline;
        color: darkblue;
        border-radius: 5px;
        cursor: pointer;
    }


}







@media(max-width: 490px){
}







@media(max-width: 360px){
}